button{
    background-color: #007BFF;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer; 
    font-size: 18px;
}
button.hover{
    background-color: #0056b3;
}
body{
    background-image:url(https://c8.alamy.com/comp/3E06H9A/a-pencil-drawing-of-a-hen-with-chicks-and-a-rooster-this-isolated-illustration-is-perfect-for-themed-cards-invitations-labels-restaurant-menus-3E06H9A.jpg) ;
}